/*CSS-variables*/
:root {
    --dark-color: #3e2b1a;
    --medium-color: #999a98;
    --medium-transparent: #999a98d2;
    --light-color: #f0e1d47c;

}

@font-face {
    font-family: myLato;
    src: url("../fonts/Lato-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-color);
    font-family: myLato;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url("../images/pexels-sammsara-luxury-modern-home-1099816.jpg");
    background-position: bottom;
    background-size: cover;
    height: 700px;
    position: relative;
}

.intro-image__link {
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);

}

.intro-image__link a, .quality-image__link a, .origin-image__link a {
    border: 2px solid var(--dark-color);
    display: inline-block;
    background-color: var(--medium-transparent);
    color: var(--dark-color);
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.intro-image__link a:hover, .quality-image__link a:hover, .origin-image__link a:hover {
    transform: scale(1.2);
}

.intro-text, .origin-text {
    display: flex;
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 250px;
    padding: 0 15rem;
    /*justify-content: center;*/
    align-items: center;
    justify-content: center;
}

.intro-text h3, .quality-text h3, .origin-text h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url("../images/diivan2.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quality-text {
    display: flex;
    background-color: var(--light-color);
    color: var(--dark-color);
    height: 250px;
    padding: 0 15rem;
    /*justify-content: center;*/
    align-items: center;
    }

.origin-image {
    background-attachment: fixed;
    background-image: url("../images/diivan.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    position: relative;
}

.origin-image__link {
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}

.footer {
    height: 250px;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: 1.5rem;
}

.contact {
    padding-top: 2rem;
}

.contact ul li {
    display: inline-block;
    margin: 1rem;
}

.contact ul li a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 0.5s ease-in-out;
}

.contact ul li a:hover {
    color: var(--medium-color);
}

.footer p {
    margin-top: 3rem;
}
